DATABASE_URL=mongodb+srv://accountname:<password>@cluster0.9ulkk.mongodb.net/<databasename>?retryWrites=true&w=majority
# Push notifications keys. You can generate them with command "./node_modules/.bin/web-push generate-vapid-keys"
#Public Key:
PUBLIC_VAPID_KEY=xxxx

#Private Key:
PRIVATE_VAPID_KEY=xxxx
# This must be either a URL or a 'mailto:' address.
# For example: 'https://my-site.com/contact' or 'mailto: contact@my-site.com'
WEB_PUSH_CONTACT="mailto: contact@my-site.com"

CRON_MINUTES_INTERVAL=60
